* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto Mono", sans-serif;
}

body {
    background-color: #1A1A1A
}

.wrapper {
    background-color: #3A3A3A;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 20px;
    border-radius: 8px;
}

.card {
  font-size: 1.8rem;
  font-weight: 600;
  color: #e6e6e6;
  text-align: center;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}

label {
    display: block;
}

span {
    position: relative;
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

button {
    background-color: #2E2E2E;
    border: none;
    border-radius: 5px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 10px;
  border: 4px solid #000000;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 10px;
  border: 4px solid #000000;
}

.gridCol {
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
}

.gridRow {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .gridCol {
    height: 0.8em;
    width: 0.8em;
  }
}